@import url('https://fonts.cdnfonts.com/css/product-sans');
:root{
    --clr-1: rgb(33, 33, 33);
    --clr-2: rgb(50, 50, 50);
    --clr-3: rgb(13, 115, 119);
    --clr-4: rgb(238, 238, 238);
    --clr-5: rgb(20, 255, 236);
    --clr-2-providno: rgba(50, 50, 50, 0.1);
    /*https://colorhunt.co/palette/2121213232320d737714ffec*/
}

*{
    font-family: 'Product Sans', sans-serif;
}

u{
    background: var(--clr-2-providno);
    border-radius: 5px;
}

body{
    margin: 0;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--clr-4);
    overflow-x: hidden;
}

header{
    margin: 0;
    position: fixed;
    top: 0;
    background-color: var(--clr-1);
    height: 5rem;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.hpolja{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--clr-4);
    gap: 3rem;
}

.hnaslov{
    color: var(--clr-5);
    margin-right: auto;
    position: relative;
    display: flex;
    align-items: center;
}

.hnaslov:hover{
    cursor: default;
}

.hgithub{
    color: var(--clr-4);
    margin-left: auto;
    position: relative;
}

.hstranica{
    position: relative;
    transition: 2s;
}

.hstranica h2{
    font-weight: 100;
}


.hstranica::after{
    content: '';
    bottom: 12px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, var(--clr-4) 50%, var(--clr-5) 50%) right;
    background-size: 200%;
    transition: .2s ease-out;
    border-radius: 5px;
}

.hgithub::after{
    content: '';
    bottom: 12px;
    position: absolute;
    width: 100%;
    height: 3px;
    background: linear-gradient(to left, var(--clr-4) 50%, var(--clr-5) 50%) right;
    background-size: 200%;
    transition: .2s ease-out;
    border-radius: 5px;
}

.hnaslov::after{
    content: '';
    bottom: 12px;
    position: absolute;
    width: 100%;
    height: 3px;
    background-color: var(--clr-5);
    border-radius: 5px;
}

.hstranica:hover::after{
    background-position: left;
}

.hgithub:hover::after{
    background-position: left;
}

a {color: white;}
a:link { text-decoration: none; }
a:visited { text-decoration: none; }
a:hover { text-decoration: none; }
a:active { text-decoration: none; }


footer{
    margin: 0;
    bottom: 0;
    width: 100vw;
    height: 20rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--clr-1);

    gap: 1rem;
}

footer img{
    height: 10rem;
}

.fpolja{
    height: 100%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--clr-4);
    gap: 3rem;
}

.fpolja b{
    color: var(--clr-3)
}
.fpolja h2{
    color: var(--clr-3)
}

main{
    width: 100vw;
    height: 400vh; /* VEEEEEEEEEEEEELICINAAAAAAAAAA   ---------------> OVAMOOOOO EEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEEE*/
    background-color: var(--clr-4);
    display: flex;
    align-items: center;
    flex-direction: column;
}

/* OSTALO JE SADRZAJ */

/* POCETAK */
.pocetak{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-2);
    color: var(--clr-4);
}

.pocetak h1{
    color: var(--clr-5);
    font-size: 4em;
    z-index: 1;
    margin: 0;
    margin-bottom: 1rem;
}
.pocetak h3{
    color: var(--clr-4);
    font-size: 1.5em;
    z-index: 1;
}
.pocetak button{
    height: 4rem;
    width: 10rem;
    z-index: 1;

    border: 1px solid var(--clr-1);
    background-color: var(--clr-5);
    transition: all 0.5s;

    border-radius: 5px;

    font-size: 1.5em;
}
.pocetak div{
    z-index: 1;
    display: flex;
    gap: 1rem;
}

.pocetak p{
    align-self: center;
    font-size: 1.5em;
    margin: 0;
    color: var(--clr-5);
    transition: all 0.5s;
}

.pocetak button:hover{
    background-color: var(--clr-4);
    cursor: pointer;
}
.pocetak p:hover{
    color: var(--clr-4);
    cursor: pointer;

}
.pocetak::before{
    font-family: "Font Awesome 5 Free"; font-weight: 900;
    content: "\f121";
    position: absolute;
    z-index: 0;
    font-size: 50em;

    color: var(--clr-1);
}

/* UVOD U VEB PROG */

.uvodveb{
    width: 100%;
    height: 40rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-4);
    position: relative;
    z-index: 1;
}
.uveb p{
    font-size: 1.5em;
    z-index: 0;
}
.uveb h2{
    font-size: 2.5em;
    z-index: 0;

}

.uveb{
    position: relative;
}

.uvodveb::before{
    font-family: "Font Awesome 5 brands"; font-weight: 500;
    content: "\f13b          \f38b          \f3b9"; /* \f13b     \f38b   \f3b9 */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    font-size: 20em;
    color: var(--clr-2);
    opacity: 0.2;
    bottom: 70px;
}

/*UVOD U HTML*/

.uvod{
    width: 100%;
    height: 60rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--clr-4);
    z-index: 1;
}

.usadrzaj{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.uhtml h2{
    font-size: 2em;
}

.uhtml p{
    font-size: 1.5em;
}

.uprimertag{
    width: 40rem;
    height: 16rem;
    border-radius: 1rem;
    background-image: url(./slike/primer2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.uprimerhtmldoc{
    width: 40rem;
    height: 35rem;
    border-radius: 1rem;

    background-image: url(./slike/primer1.png);
 
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* UVOD U CSS */

.ucss h2{
    font-size: 2em;
}

.ucss p{
    font-size: 1.5em;
}

.uprimer{
    width: 40rem;
    height: 16rem;
    border-radius: 1rem;
    background-image: linear-gradient(45deg, var(--clr-3), var(--clr-2));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.uprimer2{
    width: 40rem;
    height: 35rem;
    border-radius: 1rem;

    background-image: linear-gradient(45deg, var(--clr-3), var(--clr-2));
 
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

@media screen and (max-width: 1280px) {
    *{
        font-size: 12px
    }
}